

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 11px 24px 11px 24px;
    height: 64px; 
   
}
.metteng img{
  /* display: flex;
  align-items: center; */
  height: 34px; 
  background-color: rgb(249, 123, 123);} 


 
    .header-content img {
           width: auto;
           
        }
     
      .header-input  {
        display: flex;
        align-items: center;
        
       
        
      }
   
      .input-outer{
        display: flex;
        align-items: center;
        position: relative;
      }

      .input-outer .left{
        width: 300px;
      }
      .input-outer .search-left{
        position: absolute;
        top: 3px;
        left: 25px;
        
      }
      
      .lupa2{
       border: none;
       background-color: white;
      }
      .lupa2:active{
       transform: translateX(1px);
       transition: 0.03s;
      }
      .search-left{
       display: flex;
       /* padding-left: 40px;
       padding-right: 10px; */
       margin-top: 10px;
       align-items: center;
       width: 16.27px;
       height: 16.27px;
 
  

      }
       .left {
        margin-left: 15px;
        height: 42px;
        padding: 8px;
        padding-left: 40px;
        border: 1px solid #ccc;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        outline: none;
       }
       .right {
        height: 42px;
        padding: 8px;
        /* margin-top: 11px; */
        padding-left: 40px;
        border: 1px solid #ccc;
        outline: none;
        &::placeholder {
          color: black;
        }
      }
       

       .button-img{
        display: flex;
        justify-content: space-between;
        font-size: 11px;
       } 
    
    /* .metteng {
      margin-right: 40px;
      margin-top: 22px;

    } */
       .header-button {
        /* margin-top: 22px; */
        display:flex;
        gap:21px;
        
        
       } 
       .lang {
        display: flex;
        align-items: center;
        position: relative;
        border: none;
        background-color: white;
        
       }
       .lang img{
       position: relative ;
       align-items: center;
       margin-right:  5px;
       width: 20px;
       height: 20px;
       } 
       .lang:hover:active{
        transform: translateY(2px);
        color: black;
       }
       
      .tab {
        border: none;
        background-color: white;
        padding: 8px;
        font-size: 14px;
      }
      .tab:hover:active{
        transform: translateY(2px);
        color: black;
      }
      .tab1 {
        width: 83.13px;
        height: 36px;
        padding: 8px;
        border-radius: 8px;
        background-color: rgba(0, 121, 138, 1);
        color: white;
        border: none;
    
       
      }
      .tab1:hover:active {
       background-color: rgb(5, 191, 215);
       transform: translateX(5px);
      }
      .hidden-input{
        display: flex;
        align-items: center;
         margin-left: 25px;
         /* width: 80%; */
         display: none;
         
      }

      .left-hidden{
        height: 42px;
        padding: 8px;
        padding-left: 40px;
        border: 1px solid #ccc;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
      }
      .lupa-red {
        display: flex;
        align-items:  center;
        border: none;
        background-color: white;
       
      }
     .search-left_p { 
      position: absolute;
        align-items: center;
        width: 16.27px;
        height: 16.27px;
        margin-left: 15px;
   
      }

  /* @media (max-width: 1200px) {
    .input-outer {
      display: flex;
      align-items: center;
      
  }
} */
    @media ( max-width: 992px){
     
      .input-outer{
        display: none;
      } 
      /* .input-outer .right{
       display: none;
    } */

    .hidden-input{
      display: flex;
    }
    .left-hidden{
      width: 80%;
    }
  }
 

     @media ( max-width: 768px){
      
      .header-content{
        padding-top: 15px;
      }
      
    }
  