
.content-box1{
     display: flex;
     justify-content: center;
     margin-top: 71px;
     margin-bottom: 24px;
}
.content-box1>* {
width: 50%;
}

h1{ 
    font-size: 42px; 
} 

 .content-box1 p {
font-size: 16px;
/* margin-left: 50px; */
margin-top: 24px;
margin-bottom: 24px;
align-items: center;
} 
 .box1 {
font-size: 16px;
width: 125.28px;
height: 40px;
border-radius: 8px;
background-color:rgba(0, 121, 138, 1) ;
align-items: center; 

}   
.logo {
    color: white;
}
 .bicikle{
    margin-left: 54px;
    /* margin-right: 161px; */
    height: 269px;
    } 
    @media (max-width: 992px) {
        .bicikle {
            margin-left: auto; /* Перемещаем bicikle вправо */
            margin-right: auto; /* Перемещаем bicikle влево */
            display: block; /* Переводим bicikle на новую строку */
            height: auto; }
            .content-box1 {
               display: flex;
                align-items: center; /* Выравниваем элементы по центру */
                margin-top: 15px; 
            }
        }
  
    @media (max-width: 768px) {
        .bicikle {
            flex-direction: column;
            margin-left: auto; /* Перемещаем bicikle вправо */
            margin-right: auto; /* Перемещаем bicikle влево */
            display: block; /* Переводим bicikle на новую строку */
            height: auto; /
        }
        .content-box1 {
            flex-direction: column;
            align-items: center; /* Выравниваем элементы по центру */
            margin-top: 15px; 
           font-size: 16px;}
      }

     
    @media screen and (max-width: 576px) {
        .bicikle {
          margin-left: auto; /* Перемещаем bicikle вправо */
          margin-right: auto; /* Перемещаем bicikle влево */
          display: block; /* Переводим bicikle на новую строку */
          height: auto; /* Автоматический размер по высоте */
        }
      }
      
      @media screen and (max-width: 576px) {
        .bicikle{
            position: relative;
          align-items: center; /* Выравниваем элементы по центру */
          margin-top: 6rem;
          width: 100%;
          margin-bottom: 1.5rem;/* Уменьшаем отступ сверху */
        }
        h1{
            display: flex;
            justify-content: space-between;
        }
      }
     