
   .explore-room {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;

  } 


  .explore-text h2{
    margin-left: 2px;
  }

  
  .explore-foto img {
    margin-bottom: 6px;
    align-items: center;
  }
  .explore-foto a {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    width: 135px;
    min-height: 112px;
    margin-top: 24px;
    background-color: rgba(151, 202, 209, 0.08);
    border-radius: 8px;
    
  }
  
  .explore-foto p {
    margin-top: 6px; 
    text-align: center; 
    font-size: 14px;
    color: rgba(33, 33, 33, 1);
    height: 48px;
    width: 79px;
  }

  @media  (max-width: 1400px) {
    .explore-foto {
        width: calc(25% - .75rem);
        /* width: calc(50% - 5rem); */
    }

    .explore-room {
      display: flex;
      row-gap: 16px;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 0;
      
     }
}
  @media (max-width: 1200px)
  {
    .explore-room {
     row-gap: 16px;
     justify-content: space-between;
     flex-wrap: wrap;
     display: flex;
    }
   
    .explore-foto{
    width: calc(50% - 5rem);
    }
    }
   
            
        
/*   
        @media (min-width: 769px) {
         .explore-foto{
              column-gap: .5rem;
          }
      }
       */

        @media (max-width: 992px)
{
  .explore-foto {
              width: calc(40% - .5rem);
              text-align: center; 
              padding-top: 1.25rem;
              padding-bottom: 1rem;
              padding-left: 1.25rem;
            padding-right: 1.25rem;
            row-gap: 10px;
        justify-content: space-between;
         flex-wrap: wrap;
         display: flex;
          }
      }
      
  


@media (max-width: 768px) {
  .explore-foto {
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
  }
}