.join-box-rooms{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
    margin-top: 36px;
    border-radius: 8px;
    background-color:rgba(151, 202, 209, 0.08) ;
    padding: 20px 56px 20px 56px;
   
  
    
}


.join-text{
    display: flex;
    flex-direction: column;
}

.join-text img {
    display: none;
}
.join-text h1 {
    font-size: 28px;
    /* margin-left: 56px;
    margin-top: 36px; */
    
   
}

.join-text p {
    width: 85%;
    font-size: 16px;
    margin-top: 16px;
    font-weight: 400;
    line-height: 24px;

}
.join-btn{
height: 40px;
background-color:rgba(227, 35, 89, 1) ;
border-radius: 8px;
border: none;
margin-top: 16px;
width: 192px;

   
}
.join-right-text {
display: flex;
    
    } 

    .sign-info {
        color: white;
    }
   
     @media (max-width: 1400px){
.join-meetup-container{
    max-width: 1156px;
}
  }
  

  @media (max-width: 1200px) {
    .join-meetup-container {
      
    }
  }
  @media (max-width: 992px) {
    .join-meetup-container {
     
    }
  }

  @media (max-width: 768px) {
    .join-box-rooms{
        flex-direction: column;
    }
    .join-btn {
        align-self:  center;
    }
    .join-text img {
     display: flex;
     height: 136.8px;
    }
    .join-right-text {
        display: none;
    }
    .join-text p {
        font-size:12px ;
        margin-bottom: 22px;
    }
    
}
    


  @media (max-width: 576px) {
     
    .join-text h1 {
        font-size:20px ;
    }
  }
  /* @media (min-width: 1140px) {
    .join-meetup-containe {
        display: block;
    }
} */