
.upcoming-text1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 24px;
    /* margin-left: 8px;
    margin-right: 2%; */
    
}
   .upcoming-grids-room{
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr ; 
     gap: 56px;
     margin-top: 36px;
   }
   .upcoming-grids img.upcoming-grids__main-img
   {
    width: 100%;
    height: 153px;
    object-fit: cover;
   }
   .upcoming-grids img{
    border-radius: 8px;
    
   }
  
   .upcoming-left h2 {
    font-size: 28px;
    align-items: center;
    margin-left: 3px;
  }

  .upcoming-right a{
    font-size: 17px;
    color: rgba(0, 121, 138, 1);
   
    
  }
  .upcoming-right a:hover {
    color:rgb(10, 219, 247);  ;
  }
  
  .upcoming-grids h3{
    margin-top: 12px;
    font-size: 20px; 
    
   
  }
  .upcoming-grids p{
    font-size: 14px;
    color:rgba(112, 112, 112, 1) ;
    margin-top: 8px;
    margin-bottom: 8px;
  }
.date2{
       font-size: 14px;
        
      }
.date2 img {
        margin-top: 8px;
        margin-bottom: -4px;
        /* margin-right: 6px; */
      }

      .span-data {
        margin-top: 8px;
      }
      .going2 img{
        margin-bottom: -4px;
        /* margin-right: 6px; */
      }
      .free2  svg {
       margin-right: 2px;
       margin-left: 16px;
       margin-top: 8px;
       margin-bottom: -1px; 
       
      }
      

      @media (max-width: 1400px)
      {
        .upcoming-container {
          max-width: 1156px;
        }
      } 
      @media (max-width: 1200px) {
        .upcoming-grids-room {
          grid-template-columns: 1fr 1fr 1fr  ;
       
        }
      }
      
      @media (max-width: 992px)
      {
        .upcoming-grids-room {
          grid-template-columns: 1fr 1fr;
        }
        .upcoming-grids__main-img{
          flex-direction:column ;
          justify-content: center;
          align-items: center;
        }
      }
      
       @media (max-width: 768px) {

        .events-info{
          display: flex;
          flex-direction: column;
          
        }
        .upcoming-grids-room {
          grid-template-columns: 1fr;
          gap: 0;
        }
        .upcoming-grids-room a{
          display: flex;
          border-top: 1px solid rgba(217, 217, 217, 1);
          justify-content: center;
          align-items: center;
          margin-bottom: 21px;
          gap: 20px;
        }
        .upcoming-grids-room h3{
          order: 1;
          width: 100%;
        }
        .upcoming-grids h3{
          order: 1;
         font-size: 14px;
          font-weight: 500;
          line-height: 14.71px;
          text-align: left;
          margin-top: 0;
          margin-bottom: 2.45px;
        
        }
         .upcoming-grids-room .date2 {
          gap: 20px;
          order: 0;
          letter-spacing: -0.3499999940395355px;
          text-align: left;
          color: rgba(124, 111, 80, 1);
        }
        .upcoming-right{
          display: none;
        
        }
        .upcoming-grids{
          display: flex;
          flex-direction: column;
          
          
        }
        .upcoming-grids p{
          order: 2;
      }
      .upcoming-grids .dete2 {
        display: none;
      }
      .upcoming-grids .span-data{
         display: none;
      }
      } 
      
      
      @media (max-width: 576px) {
        .upcoming-left h2 {
          font-size: 20px;
          line-height: 24.67px;
          white-space: nowrap;
        }
        .upcoming-grids__main-img{
          width: 159px;
          height: 89.07px;
         object-fit: cover ;
        }

        .upcoming-grids h3 {
          order: 1;
          width: 100%;
          font-size: 9.81px;
          font-weight: 500;
          line-height: 14.71px;
          text-align: left;
          margin-top: 0;
          margin-bottom: 2.45px;
        }
        .upcoming-grids-room .date2{
         order: 0;
         display: flex;
         align-items: center;
         margin-bottom: 1.976px;
        font-size: 8.58px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: -0.3499999940395355px;
        text-align: left;
        color: rgba(124, 111, 80, 1);
        }
        .upcoming-grids{
          display: flex;
          flex-direction: column;
          width: 159px;
          height: 89px;
          gap: 20px;
        }
        .upcoming-grids p{
          order: 2;
          color: rgba(112, 112, 112, 1);
          font-size: 8.58px;
          font-weight: 400;
          line-height: 12.26px;
          text-align: left; 
        }
      }